.logout_div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $primary ;
    height: 30px;
    margin: -10px -10px 0px -10px;

}

.navlink{
    text-decoration: none;
    color: black;
    &:hover{
        color:$red;
    }
}